[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "==0.109.0"}
uvicorn = {extras = ["standard"], version = "==0.27.0"}
gunicorn = "==21.2.0"
numpy = "==1.26.0"

[dev-packages]

[requires]
python_version = "3.9"
